
    <div class="row text-center">
        <h1>Mis proyectos</h1>
        <br>
        <br>
        <br>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card" style="width: 25rem;">
                    <img src="../../../assets/img/zoo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>Zoológico</h3>
                      <p class="card-text">Esta es una página desarrollada durante la carrera que estoy realizando, es sobre un zoológico
                        ficticio.</p>
                      <a href="#" class="btn btn-primary">VER</a>
                    </div>
                  </div>
                
                <p></p>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card" style="width: 25rem;">
                    <img src="../../../assets/img/red.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>Empresa de Desarrollo Web</h3>
                      <p class="card-text">Esta es una página desarrollada durante la carrera que estoy realizando, es sobre una empresa de
                        desarrollo web ficticia.</p>
                      <a href="#" class="btn btn-primary">VER</a>
                    </div>
                  </div>
                
                <p></p>

            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card" style="width: 25rem;">
                    <img src="../../../assets/img/carreras.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>Oferta Educativa</h3>
                      <p class="card-text">Esta es una página desarrollada durante la carrera que estoy realizando, es sobre la oferta educativa
                        disponible en la región donde vivo actualmente.</p>
                      <a href="#" class="btn btn-primary">VER</a>
                    </div>
                  </div>
                
                <p></p>

            </div>

    </div>
    
