
    <div class="row text-center">
        <h1>Mis proyectos</h1>
        <br>
        <br>
        <br>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <img src="../../../assets/img/zoo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>Zoológico</h3>
                      <p class="card-text">Esta es una página desarrollada durante la carrera que estoy realizando, es sobre un zoológico
                        ficticio. (06/2022)</p>
                      <a href="#" class="btn btn-primary">VER</a>
                    </div>
                  </div>
                
                <p></p>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <img src="../../../assets/img/red.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>Empresa de Desarrollo Web</h3>
                      <p class="card-text">Esta es una página desarrollada durante la carrera que estoy realizando, es sobre una empresa de
                        desarrollo web ficticia. (07/2022)</p>
                      <a href="#" class="btn btn-primary">VER</a>
                    </div>
                  </div>
                
                <p></p>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <img src="../../../assets/img/carreras.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3>Oferta Educativa</h3>
                      <p class="card-text">Esta es una página desarrollada durante la carrera que estoy realizando, es sobre la oferta educativa
                        disponible en mi región. (11/2022)</p>
                      <a href="#" class="btn btn-primary">VER</a>
                    </div>
                  </div>
                
                <p></p>

            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="card">
                  <img src="../../../assets/img/portfolio.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3>Portfolio</h3>
                    <p class="card-text">Este es un proyecto desarrollado como trabajo final integrador para aprobar 
                      la segunda etapa del curso Argentina Programa "Yo Programo". (02/2023)</p>
                    <a href="#" class="btn btn-primary">VER</a>
                  </div>
                </div>
              
              <p></p>

          </div>

    </div>

    
