.fondo{
    background-color: #a1b5cb;
    
    box-shadow: 0px -2px 5px black;
}

footer{
    color: azure;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}