.sombra{
    box-shadow: 2px 2px 10px black;
}

footer{
    color: azure;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.borde{
    -webkit-text-stroke: 0.7px black;
}