.row{
    background-color: #a1b5cb;
    
    
}

footer{
    color: azure;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px -2px 5px black;
}

.borde{
    -webkit-text-stroke: 0.7px black;
}