
<div class="p-5">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 centrar">
            <img src="../../../assets/img/fotoPerfil.jpg" alt="" class=" img-fluid fotoPerfil">
        </div>
<div class="col-xs-12 col-sm-4 col-md-2 text-center" >
    <h1 class="titulos">{{persona.nombre}} </h1>
    <br>
    <h5 class="subtitulos">Desarrollador Web Full Stack Jr</h5>
</div>
<div class="col-xs-12 col-sm-8 col-md-8">
    <span>
        <br>
        <h1 class="titulos text-center">Acerca de mí</h1>
        <br>
        <h5 class="subtitulos text-center">
            Me llamo Vanessa, estoy estudiando la carrera de Desarrollo de Software y paralelamente realizando el curso de Argentina Programa. Vivo actualmente en Morteros, Córdoba.
        </h5>
        
    </span>
</div>
    </div>
</div>

