
<div class="row">
    <h1 class="text-center">Educación</h1>
    <div class="col-lg-1"></div>
    <div class=" col-lg-11">
        <ul>
            <li>
                <h3>Colegio Universitario María Justa Moyano de Ezpeleta-Morteros, Cba-</h3> - <h5>(2022-actualidad)</h5>
            </li>
            <br>
            <h5>
                Tecnicatura Superior en Desarrollo de Software.
            </h5>
            <br>
            <br>
            
            <li>
                <h3>Curso Yo Programo-INTI-</h3> - <h5>(2022-2023)</h5>
            </li>
            <br>
            <p>
                Desarrollador Web Full Stack.

            </p>
            <li>
                <h3>Curso de Inglés con orientación en programación-UBA (CUI)-</h3> - <h5>(2022-2023)</h5>
            </li>
            <br>
            <p>
                Inglés Nivel 3.

            </p>
            <li>
                <h3>Curso Se Programar-INTI-</h3> - <h5>(2022)</h5>
            </li>
            <br>
            <p>Introducción a la Programación.
            </p>
            
            <li>
                <h3>Curso de Auxiliar en Administración-Universidad Popular de Morteros-</h3> - <h5>(2022)</h5>
            </li>
            <br>
            <p>
                Además poseo conocimientos administrativos que podrían ser de utilidad para desarrollar software de este tipo.

            </p>
            
            <li>
                <h3>Curso de Formación en Género y Abordaje de Violencias-UNC (Campus Virtual)-</h3> - <h5>(2021)</h5>
            </li>
            <br>
            <p>
                Poseo también formación en perspectiva de género.

            </p>
        </ul>

    </div>

</div>
