<div class="row">
<div class="conteiner">
    <div class="logo">
        <img src="../../../assets/img/APLogo.png" alt="" id="logoAP">
    </div>

    <div class="redes">
        <div>
            <a href="https://www.linkedin.com/in/vanessa-carreras/"><img src="../../../assets/img/linkedin.png" alt="" class="img1"></a>
            <a href="https://twitter.com/VaneCarreras1"><img src="../../../assets/img/twitter.png" alt="" class="img2"></a>
            <a href="https://www.instagram.com/carreras.vanessa/"><img src="../../../assets/img/instagram.png" alt="" class="img3"></a>
            <a href="https://www.facebook.com/vanecarreras91"><img src="../../../assets/img/facebook.png" alt="" class="img4"></a>
            <a href="https://github.com/VaneCarreras"><img src="../../../assets/img/github.png" alt="" class="img5"></a>
            
            <button type="button" class="btn btn-outline-dark" (click)="login()">INGRESAR</button>
        </div>
    </div>
</div>
</div>
    





