
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <img src="../../../assets/img/fotoPerfil.jpg" alt="" class=" img-fluid fotoPerfil">
        </div>
<div class="col-xs-12 col-sm-2 col-md-2" >
    <h1 class="titulos">Vanessa Carreras Giustina</h1>
    <br>
    <h5 class="subtitulos">Desarrollo Web Full Stack Jr</h5>
</div>
<div class="col-xs-12 col-sm-8 col-md-8">
    <span>
        <br>
        <h1 class="titulos">Acerca de mí</h1>
        <br>
        <h5 class="subtitulos">
            Me llamo Vanessa, estoy estudiando la carrera de Desarrollo de Software y paralelamente realizando el curso de Argentina Programa. Vivo actualmente en Morteros, Córdoba.
        </h5>
        
    </span>
</div>
    </div>

