<div class="p-5">
  <div class="row">
    <h1 class="text-center">Mis proyectos</h1>
    <br>
    <br>
    <br>
    <hr>
    <h3>Zoológico</h3>
    
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Esta es una página desarrollada en conjunto con el profesor durante la carrera que estoy realizando, es sobre
        un
        zoológico
        ficticio. (06/2022)</p>

    </div>

    <div class="col-md-2 col-lg-2"></div>

    <div class="col-sm-12 col-md-4 col-lg-4 centrar">
      <img src="../../../assets/img/zoo.png" class="imagen" alt="...">
    </div>

    <div class="col-md-1 col-lg-1"></div>

    <hr>

    <h3>Empresa de Desarrollo Web</h3>
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Esta es una página desarrollada individualmente durante la carrera que estoy realizando, es sobre una
        empresa de
        desarrollo web ficticia. (07/2022)</p>

    </div>

    <div class="col-md-2 col-lg-2"></div>

    <div class="col-sm-12 col-md-4 col-lg-4 centrar">
      <img src="../../../assets/img/red.png" class="imagen" alt="...">
    </div>

    <div class="col-md-1 col-lg-1"></div>

<hr>
    <h3>Oferta Educativa</h3>

    <div class="col-md-1 col-lg-1"></div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Esta es una página desarrollada grupalmente durante la carrera que estoy realizando, es sobre la
        oferta
        educativa
        disponible en mi región. (11/2022)</p>

    </div>

    <div class="col-md-2 col-lg-2"></div>

    <div class="col-sm-12 col-md-4 col-lg-4 centrar">
      <img src="../../../assets/img/carreras.png" class="imagen" alt="...">
    </div>

    <div class="col-md-1 col-lg-1"></div>

<hr>
    <h3>Portfolio</h3>
    <div class="col-md-1 col-lg-1"></div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <p>Este es un proyecto desarrollado como trabajo final integrador para aprobar
        la segunda etapa del curso Argentina Programa "Yo Programo". (02/2023)</p>

    </div>

    <div class="col-md-2 col-lg-2"></div>

    <div class="col-sm-12 col-md-4 col-lg-4 centrar">
      <img src="../../../assets/img/zoo.png" class="imagen" alt="...">

    </div>

    <div class="col-md-1 col-lg-1"></div>



  </div>
</div>
