
.centrar{
    display: flex;
    justify-content: center;
}



.imagen{
    width: 50vh;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px violet;
}
h3{
    text-align: center;
}

p{
    text-align: center;
}